# WordPress
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build tools
vendor/
*.zip
*.tar.gz

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Composer
composer.phar
